*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 80%;
    margin: 0 auto;
  }
  .box{
    display: block;
    background-color: steelblue;
    width: 55px;
    height: 55px;
    margin: 10px 0;
    margin-left: 5px;
    text-align: center;
    line-height: 55px;
  }
  .container{
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid lightcoral  ;
  }
  .box:only-of-type{
    background-color: tomato;
  }
  
  .box:first-of-type{
    background-color: tomato;
  }
  
  .box:last-of-type{
    background-color: tomato;
  }
  
  .box:nth-child(1){
    background-color: yellow;
  }
  
  /*
  2*0=0+1
  2*1=2+1
  2*2=2+1
  2*3=6+1
  */
  
  .box:nth-of-type(2n+2){
    background-color: tomato;
  }
  
  .box:nth-last-of-type(odd){
    background-color: tomato;
  }
  
  .container:only-child{
    background-color: blue;
  }