body {
    background-color: purple;
  }
  @media (max-width: 900px) {
    body {
      background: black;
    }
    h1 {
      color: white;
    }
  }
  
  @media (max-width: 500px) {
    body {
      background: white;
    }
    h1 {
      color: black;
    }
  }
  
  h1 {
    text-align: center;
  }